@media screen and (max-width: 875px) {
  section > .container {
    box-sizing: border-box;
  }
  /* navbar */
  .img {
    display: none;
  }
  #nav-bar .container {
    display: block;
    width: auto;
  }
  #nav-bar a {
    display: block;
    text-align: left;
  }
  /* about */
  #about .container {
    display: block;
    padding: 30px 0;
    width: 100%;
  }
  #personal-info,
  #target {
    padding: 0 40px;
    width: auto;
  }
  /* jobinfo */
  #job-info .container {
    width: auto;
    display: block;
  }
  #job-info .container-jobinfo {
    width: 100%;
  }
  #job-info .section-content {
    height: auto;
    width: auto;
  }

  /* cert */
  #certificate .container {
    width: auto;
  }
  .cert {
    display: inline-block;
    margin: 0 auto;
  }
  .cert0 {
    display: inline-block;
    border: 0;
    padding: 0;
    margin: 0;
    width: auto;
  }
  .left-border {
    border: 0;
    padding: 0;
  }
  .cert1 {
    display: grid;
    width: 100%;
    height: auto;
    grid-template-rows: auto auto;
    border-bottom: 1px solid #d6c08d;
    padding-bottom: 20px;
    margin-bottom: 20px;
  }
  .cert1 img {
    width: 100%;
  }
  .cert2,
  .cert1 img {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .cert2 {
    display: inline-block;
  }
  /* project */
  #project .container {
    display: block;
    width: 100%;
  }
  #project .section-content-1 {
    grid-column-start: 1;
    grid-column-end: 4;
  }
  table {
    width: auto;
  }
  #project .section-content-1 img {
    width: 100%;
  }
  /* footer */
  #footer .container {
    width: auto;
  }
  #footer .container a {
    font-size: 0%;
  }
}
