@media screen and (min-width: 768px) and (max-width: 1024px) {
  section > .container {
    box-sizing: border-box;
  }
  /* navbar */
  .img {
    display: none;
  }
  /* about */
  #about .container {
    width: 100%;
  }
  #personal-info,
  #target {
    padding: 0 40px;
  }
  /* jobinfo */
  #job-info .container {
    width: 100%;
    grid-template-columns: 50% 50%;
    justify-items: center;
  }
  /* cert */
  #certificate .container {
    margin: 0;
    width: 100%;
  }
  .cert0 {
    width: 100%;
  }
  .cert1 {
    display: inline-block;
    height: 100%;
    width: 100%;
  }
  /* project */
  #project .container {
    width: 100%;
  }
  #project .section-content-1 {
    width: auto;
    margin: 10px;
  }
  #project .section-content-1 img {
    width: 100%;
  }
  table {
    width: auto;
  }
  /* footer */
  #footer .container {
    width: auto;
  }
}
